.menuBar {
    background-color: #ffffff;
    height: 100%;
    width: 100%;

    ul {
        padding: 10px 0; /* 기본 패딩 제거 */
        margin: 0; /* 기본 마진 제거 */

        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    li {
        cursor: pointer;
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.3s ease;
        color: #7c7da0;
    }

    li:hover {
        color: #b3b3b3;
    }
}
