.messageList {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.message {
    margin-bottom: 10px;
    display: flex;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.sender {
    font-weight: bold;
}

.text {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.right .text {
    background-color: #007bff;
    color: white;
    text-align: right;
}

.left .text {
    background-color: #e0e0e0;
    color: black;
}
