@import '@/constants/variables.scss';

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    z-index: 1000;

    border-bottom: 1px solid rgb(235, 235, 235);

    .title {
        margin-left: $horizontal-margin;
        font-family: 'Pacifico', sans-serif;
        font-size: 40px;
        width: 100px;

        cursor: pointer;

        @media (max-width: $tablet) {
            margin-left: $horizontal-margin-tablet;
        }

        @media (max-width: $mobile) {
            margin-left: $horizontal-margin-mobile;
        }

        @media (max-width: $small) {
            margin-left: $horizontal-margin-small;
        }
    }

    .nav {
        flex-grow: 1; // .title과 .login을 제외한 나머지 공간을 차지하도록 설정
        margin-left: 20px;

        display: flex;
        align-items: center; // 세로 중앙 정렬
        justify-content: flex-start; // 왼쪽으로 정렬
        gap: 30px; // 요소들 사이의 간격 설정

        span {
            cursor: pointer;
        }
    }

    .login {
        width: 100px;
        margin-right: $horizontal-margin;

        @media (max-width: $tablet) {
            margin-right: $horizontal-margin-tablet;
        }

        @media (max-width: $mobile) {
            margin-right: $horizontal-margin-mobile;
        }

        @media (max-width: $small) {
            margin-right: $horizontal-margin-small;
        }
    }

    //   .logo {
    //     width: 50px;
    //     height: 50px;
    //   }
}
