$header-height: 70px;
$gradient: linear-gradient(270deg, #20d2fe, #578cfe, #9e39ff);
$sidebar-width: 330px;

$container-width: 1000px;
$container-width-tablet: 750px; // max-width: 1024px
$container-width-mobile: 470px; // max-width: 768px
$container-width-small: 450px; // max-width: 480px

$tablet: 1024px;
$mobile: 768px;
$small: 480px;
