.correction {
  margin-bottom: 20px;
  div {
    padding: 10px 20px;
    font-weight: bold;
  }
  div:first-child {
    background-color: white;
    border-radius: 10px 10px 0 0;
  }

  div:nth-child(2) {
    background-color: rgb(224, 225, 229);
    border-radius: 0 0 10px 10px;
    color: rgb(91, 91, 91);
  }
}
