@import '@/constants/variables.scss';

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: margin-left 0.3s ease;
    margin-left: 0;

    &.sidebarOpen {
        margin-left: $sidebar-width;
        width: calc(100vw - $sidebar-width);
    }

    .title {
        color: white;
        font-weight: bolder;
        font-size: 1.5rem;
        width: 80%;
    }
}
